<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading"><strong>Edit User</strong></div>
        <div class="panel-body">
          <label>Email</label>
          <%= f.email_field :email, autofocus: true, class: "form-control" %><br>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <label>Password</label><small> leave blank if you don't want to change it</small>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %><br>

          <label>Password Confirmation</label>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %><br>

          <label>Current Password</label><small> we need your current password to confirm your changes</small>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %><br>
        </div>
        <div class="panel-footer">
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading"><strong>Cancel my account</strong></div>
        <div class="panel-body">
          <p>This will remove your account permanently.</p>
        </div>
        <div class="panel-footer">
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
