<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Infibeam Online Screening</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
        	<% if can? :manage, :site %>
        	<%= link_to "Home", exams_path, :method => "get" %>
        	<% elsif can? :give, :exam %>
        	<%= link_to "My Exams", my_exams_path, :method => "get" %>
        	<% end %>
        </li>
        <% if can? :manage, :site %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Exams <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          	<li><%= link_to "Index", exams_path, :method => "get" %></li>
          	<li class="divider"></li>
            <li><%= link_to "New Exam", new_exam_path, :method => "get" %></li>
            <li class="divider"></li>
            <li><%= link_to "Results", answer_sheets_path, :method => "get" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Questions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          	<li><%= link_to "Index", questions_path, :method => "get" %></li>
          	<li class="divider"></li>
            <li><%= link_to "New Question", new_question_path, :method => "get" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          	<li><%= link_to "Index", users_path, :method => "get" %></li>
          	<li class="divider"></li>
          	<li><%= link_to "New Admin", users_admin_new_path, :method => "get" %></li>
          	<li class="divider"></li>
            <li><%= link_to "New Users", users_mass_new_path, :method => "get" %></li>
            <li class="divider"></li>
            <li><%= link_to "Change User IP", answer_sheets_change_ip_path, :method => "get" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Colleges <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Index", colleges_path, :method => "get" %></li>
            <li class="divider"></li>
            <li><%= link_to "New College", new_college_path, :method => "get" %></li>
          </ul>
        </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i> <%= current_user.first_name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Account Settings", edit_user_registration_path, :method => "get" %></li>
            <li class="divider"></li>
            <li><%= link_to "Log out", destroy_user_session_path, :method => "delete" %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!--/.nav-collapse -->
  </div>
</nav>