<!DOCTYPE html>
<html>
<head>
  <title>OnlineScreening</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='onlineScreening'>

<% if notice %>	
<div class="alert alert-success">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<strong>Note!</strong> <%= notice %>	
</div>
<% end %>

<% if alert %>	
<div class="alert alert-warning">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<strong>Error!</strong> <%= alert %>	
</div>
<% end %>

<%= yield %>

</body>
</html>
